@import './colors';
@import './fonts';
@import "./buttons";

.form-container {
    .header {
        font-family: $font-jakarta;
        margin-bottom: 20px;

        font-size: 2.5rem;
        color: $main-color;
        font-weight: 700;
        align-self: flex-start;
    }

    .body {
        flex: 60%;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 2rem;
    }
    button{
        @include button
    }
    button:hover {
        @include hover;
    }

    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;



}

.containter {
    background: $main-color;
    background: radial-gradient(circle,
          #AED5EB 0%,
          #8eb8cf 74%,
          #577d92 100%,
        );
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    overflow: hidden;
}