@import "./mixins";

.success {
    margin-top: 3rem;

    img {
        width: 83px;
    }

    .success-message {
        margin-top: 9px;

        @include flex-center;
        flex-direction: column;

        word-wrap: break-word;
        text-align: center;

        .payment-reference {
            font-weight: bold;
        }

        p {
            width: 350px;

            @media(max-width: 430px) {
                width: 220px;
            }
        }
    }

    flex-direction:column;
    @include flex-center
}

.none {
    display: none;
}